$color--red: hsl(0, 100%, 74%);
$color--green: hsl(154, 59%, 51%);
$color--blue: hsl(248, 32%, 49%);
$color--dark_blue: hsl(249, 10%, 26%);
$color--grayish_blue: hsl(246, 25%, 77%);

$ff-poppins: 'Poppins', sans-serif;

$fsz-p: 16px;

$fw--normal: 400;
$fw--demibold: 500;
$fw--semibold: 600;
$fw--bold: 700;
